{% macro book_form(action='create', book=None, genres=None, existing_genres=None) %}
<form id="bookForm" method="post" enctype="multipart/form-data">
    {% if action == 'create' %}
        <div class="mb-3">
            <label class="form-label" for="cover">Обложка</label>
            <input class="form-control" type="file" id="cover" name="cover">
        </div>
    {% endif %}
    <div class="mb-3">
        <label class="form-label" for="book_name">Название книги</label>
        <input class="form-control" type="text" id="book_name" name="book_name" value="{{ book.book_name or '' }}" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="book_descr">Описание книги</label>
        <textarea class="form-control" id="book_descr" name="book_descr">{{ book.book_descr or '' }}</textarea>
    </div>
    <div class="mb-3">
        <label class="form-label" for="genres">Жанры</label>
        <select class="form-control" id="genres" name="genres" multiple>
            {% for genre in genres %}
                <option value="{{ genre.genre_id }}">{{ genre.genre_descr }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="releaser">Дата выхода</label>
        <input class="form-control" type="number" min="0" id="releaser" name="releaser" value="{{ book.releaser or '1980' }}">
    </div>
    <div class="mb-3">
        <label class="form-label" for="publisher">Публицист</label>
        <input class="form-control" type="text" id="publisher" name="publisher" value="{{ book.publisher or '' }}" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="author">Автор книги</label>
        <input class="form-control" type="text" id="author" name="author" value="{{ book.author or '' }}" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="volume">Объем в страницах</label>
        <input class="form-control" type="number" id="volume" name="volume" value="{{ book.volume or '' }}" required>
    </div>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <script defer>
        document.addEventListener('DOMContentLoaded', function() {
            var editorElement = document.getElementById("book_descr");
            if (editorElement) {
                var editor = new EasyMDE({
                    element: editorElement,
                });

                document.getElementById('bookForm').addEventListener('submit', function() {
                    editor.toTextArea();
                });
            } else {
                console.error('Element with id "book_descr" not found.');
            }
        });
    </script>

    <button class="btn btn-primary">Сохранить</button>
</form>
{% endmacro %}
