{% extends 'base.html' %}

{% block content %}
<h2>Список книг</h2>
<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Жанры</th>
            <th>Год</th>
            <th>Средняя оценка</th>
            <th>Количество оценок</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ book.book_name }}</td>
            <td>{{ book.all_genres }}</td>
            <td>{{ book.releaser }}</td>
            <td>{{ book.avg_rating }}</td>
            <td>{{ book.num_ratings }}</td>
            <td>
                {% if current_user.is_authenticated %}
                    {% if current_user.has_permission('edit_book') %}
                        <a class="btn btn-primary" href="{{ url_for('edit_book', book_id=book.book_id) }}">Редактировать</a>
                    {% endif %}
                {% endif %}
            </td>
            
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if current_user.is_authenticated %}
    {% if current_user.has_permission('create') %}
        <a class="btn btn-primary" href="{{ url_for('create_book') }}">Создать книгу</a>
    {% else %}
        <p>Создание: нет прав</p>
    {% endif %}
{% endif %}
{% endblock %}
