{% extends "base.html" %}

{% block content %}
<h2>Редактировать рецензию</h2>
<form action="{{ url_for('edit_review', book_id=book_id, review_id=review.review_id) }}" method="post">
    <div class="mb-3">
        <label for="rate" class="form-label">Оценка</label>
        <select name="rate" id="rate" class="form-select" required>
            <option value="5" {% if review.rate == 5 %}selected{% endif %}>отлично</option>
            <option value="4" {% if review.rate == 4 %}selected{% endif %}>хорошо</option>
            <option value="3" {% if review.rate == 3 %}selected{% endif %}>удовлетворительно</option>
            <option value="2" {% if review.rate == 2 %}selected{% endif %}>неудовлетворительно</option>
            <option value="1" {% if review.rate == 1 %}selected{% endif %}>плохо</option>
            <option value="0" {% if review.rate == 0 %}selected{% endif %}>ужасно</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Текст рецензии</label>
        <textarea name="description" id="description" class="form-control" rows="5" >{{ review.description }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <script defer>
        document.addEventListener('DOMContentLoaded', function() {
            var editorElement = document.getElementById("description");
            if (editorElement) {
                var editor = new EasyMDE({
                    element: editorElement,
                });

                document.getElementById('form1').addEventListener('submit', function() {
                    editor.toTextArea();
                });
            } else {
                console.error('Element with id "description" not found.');
            }
        });
    </script>
</form>
{% endblock %}