{% extends 'base.html' %}

{% block content %}
<h2>Список пользователей</h2>
<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Логин</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Роль</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user.login }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.surname or '' }}</td>
            <td>{{ user.role_name or 'Нет роли' }}</td>
            <td>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if current_user.is_authenticated %}
    {% if current_user.has_permission('create') %}
        <a class="btn btn-primary" href="{{ url_for('create_user') }}">Создать пользователя</a>
    {% else %}
        <p>Создание: нет прав</p>
    {% endif %}
{% endif %}

<div class="modal" id="delete-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Подтвердите удаление пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Вы уверены, что хотите удалить этого пользователя?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                <form action="" method="post">
                    <button type="submit" class="btn btn-danger">Да</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='delete_user.js') }}" ></script>
{% endblock %}
