{% extends 'base.html' %}

{% block content %}
<h2>{{ book.book_name }}</h2>
<p><strong>Автор:</strong> {{ book.author }}</p>
<p><strong>Издатель:</strong> {{ book.publisher }}</p>
<p><strong>Релиз:</strong> {{ book.releaser }}</p>
<p><strong>Объем:</strong> {{ book.volume }} страниц</p>
<p><strong>Описание:</strong></p>
<div>{{ book.book_descr | safe }}</div>

<h3>Отзывы</h3>
{% if reviews %}
    <ul>
        
        {% for review in reviews %}
        <div class="col">
            <div class="card">
                <div class="card-body d-flex align-items-center">
                    <ul>
                        <li>
                            <p><strong>{{ review.login }}</strong> ({{ review.add_date }}): <em>{{ review.rate }}/5</em></p>
                            <p>{{ review.description | safe }}</p>
                        </li>
                  <li>
                        {% if review.edit_allowed %}
                        <div class="mt-3">
                            <a class="btn btn-primary" href="{{ url_for('edit_review', book_id=book.book_id) }}">Отредактировать рецензию</a>
                        </div>
                    </li>
                    {% endif %}
                    </ul>
                    
                </div>
            </div>
        </div>
    {% endfor %}
    

    </ul>
{% else %}
    <p>Отзывов пока нет.</p>
{% endif %}

{% if not user_review %}
    <div class="mt-3">
        <a class="btn btn-primary" href="{{ url_for('create_review', book_id=book.book_id) }}">Написать рецензию</a>
    </div>
   
{% endif %}
<div class="d-flex justify-content-between mt-3">
    {% if current_user.has_permission('edit_book') %}
        <a class="btn btn-primary" href="{{ url_for('edit_book', book_id=book.book_id) }}">Редактировать</a>
    {% endif %}
    {% if current_user.has_permission('delete') %}
        <form action="{{ url_for('delete_book', book_id=book.book_id) }}" method="post" class="d-inline">
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
    {% endif %}
</div>
{% endblock %}
