{% extends 'user_actions/base.html' %}

{% block user_actions_content %}
<h1> Статистика посещений по пользователям </h1>
<table class="table">
    <thead>
        <tr>
            <th> № </th>
            <th> ИМЯ </th>
            <th> ФАМИЛИЯ </th>
            <th> ОТЧЕСТВО </th>
            <th> КОЛИЧЕСТВО ПОСЕЩЕНИЙ </th>
        </tr>
    </thead>
    <tbody>
        {% for user in users_stats %}
        <tr>
            <td> {{loop.index}} </td>
            {% if user.name is not none %}
            <td>  {{user.last_name}} </td>
            <td> {{user.surname}} </td>
            {% else %}
            <td> Неаутентифицированный </td>
            <td> пользователь </td>
            {% endif %}
            <td> {% if user.surname %} {{user.surname}} {% endif %}</td>
            <td> {{user.entries_counter}} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="{{ url_for('user_actions.user_export') }}">Экспорт</a>
{% endblock %}